html, body {
  height: 100%;
}
body {
  font-size: 40px;
  margin: 0;
}
h2 {
  margin: 0;
}

/**
 * Global Header
 */
#global_header {
  right: 20px;
  position: absolute;
  top: 0;
}
#global_header h2 {
  opacity: .5;
}

/**
 * Posts for the theme
 */
#theme {
  height: 100%;
  overflow: hidden;
}
#theme h2 {
  background-color: #ff7200;
  color: #fff;
  display: none;
  margin: 20px;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}
#theme .post {
  background-color: #ffd1ab;
  border: solid 3px #ff9260;
  border-radius: 80px;
  max-width: 60%;
  padding: 50px;
  position: absolute;
  text-align: center;
  -webkit-transform: scale(0);
  left: -9999px;
}
#theme .post.ready {
  display: block;
  -webkit-transition: all 1s;
}
#theme .post.ready:last-child {
  -webkit-transition: -webkit-transform .1s;
}
