<h1>Listing themes</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Target date</th>
  </tr>

<% @themes.each do |theme| %>
  <tr>
    <td><%= theme.body %></td>
    <td><%= theme.target_date %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @themes %>
<%= link_to 'New Theme', new_theme_path %>
