<h1>過去のお題</h1>

admin: <%= link_to 'New Theme', new_theme_path %>

<% @themes.each do |theme| %>
  <hr />
  <div><%= theme.target_date %></div>
  <div>お題: <b><%= link_to theme.body, theme %></b></div>
<% end %>
