<p id="notice"><%= notice %></p>

<% unless @theme.nil? %>
<div id="theme-posts">
  <div class="header">
    <div class="date"><time><%= @theme.target_date %></time></div>
    <h2><%= @theme.body %></h2>
  </div>
</div>
<% else %>
  有効なお題はありません
<% end %>
