<p id="notice"><%= notice %></p>

<% unless @theme.nil? %>
  <h2>お題: <%= @theme.body %></h2>
  (date: <%= @theme.target_date %>)

  <p>
  todo: ここにみんなのpostsをポップ表示する
  <br />
  <%= @theme.posts.map &:body %>
  </p>
<% else %>
  有効なお題はありません
<% end %>
