<div id="content">
    <h1>「おやすみたぬきって？」</h1>
    <p>日曜日の夜。明日から始まる日常生活がちょっと憂鬱なことはありませんか？ゴールデンウィークの後なんて「学校や会社に行きたくないよー！」と頭を抱え、泣き叫ぶ姿がそこかしこで見られます。阿鼻叫喚とはよく言ったものです。</p>
    <p>「おやすみたぬき」は、そんな日曜日の夜を迎えているあなたを救うために生まれてきました。</p>
    <h2>■遊び方</h2>
    <p>やることはひとつ。あなたの想像力をフルに発揮して「皮算用」をするだけです。とらぬ狸の皮算用！</p>
    <p>ルールは簡単、毎夜出される皮算用のお題に答えるだけ。</p>
    <p>例えば、</p>
    <p>「明日、突然休みになったらどうする？」</p>
    <p>このようなお題が毎日、夜に出されます。気になったお題について、風呂敷をとことん拡げましょう。</p>
    <h2>■皮算用とは</h2>
    <p>皮算用は、ただの妄想ではありません。ここは重要です。皮算用は、現実味を帯びていることが大切です。あまりに現実的過ぎてもつまらないのですが、現実味を帯びていることにより、明日までもが楽しくなってくるのです。</p>
    <h2>■皮算用の期待できる効能</h2>
    <ul>
      <li>皮算用の時、妄想族になりワクワクする。</li>
      <li>皮算用によって明日もワクワク！</li>
      <li>想像力の向上。</li>
    </ul>
    <p>お題は、Twitterアカウントでも同じお題が配信されます。存在に気が付いた方は、ぜひ全力でフォローしてくださいね。ポンポコ！<a href="https://twitter.com/#!/oyasumi_tanuki" target="_blank">@oyasumi_tanuki </a></p>
</div>
