<div id="content">
    <h1>過去の皮算用</h1>
    <ul>
      <% @posts.each do |post| %>
    	<li>
        	<span><%= post.theme.target_date %></span>お題: <%= post.theme.body %>
            <div class="post">回答: <%= post.body %></div>
        </li>
        <% end %>
    </ul>
<%= paginate @posts %>
</div>
