<h1>Listing posts</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Theme</th>
    <th>Body</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.theme.target_date %></td>
    <td><%= post.theme.body %></td>
    <td><%= post.body %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
